h1{
    color: grey;
    background-color: blue;
}
body{
    background-image: url();
    background-color: rgb(53, 47, 47);
    text-align: center;
}
img{
    width: 400px;
}
footer{
    background-color: rgb(43, 0, 255);
}
p{
    color: rgb(244, 250, 250);
}